@{
    ViewBag.Title = "Entrada";
}

<div >
    <h1>LOGIN</h1>
    <p class="lead">AQUI LOGUEA EL USUARIO</p>
</div>

<div >
    <div >
        <h2>IMAGEN DE FONDO</h2>
        <p>
            y recudro mas o menos centrado que pida usuario y contraseña

            pequeña animacion al iniciar sesion
        </p>
    </div>
</div>